*~
.#*
*#
target/
build/
bin/
!*/src/**/bin/
dist/
logs/
_site/
.classpath
.project
.settings
.springBeans
.DS_Store
*/.idea
*.sw*
*.iml
*.ipr
*.iws
.idea/
*/.idea/
.factorypath
spring-xd-samples/*/xd
dump.rdb
.apt_generated
artifacts
*.log
.flattened-pom.xml